.nav-container{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
}

.link{
    color: black;
    border-style: none;
}

.nav-btn{
    border-style: none;
    font-size: 30px;
}
.nav-btn:hover{
    border-style: none;
    font-size: 35px;
}

.logo{
    font-size: 30px;
    color: red;
}

.nav-links{
    display: flex;
    justify-content: space-between;
}